/* =================== PAGE ========================*/
body {
    background-image: url("../Images/sprinkles.png");
    padding-top: 60px;
	font-size: 150%;
}
h1{
    font-weight: bold;
}
#Content {
    width: 640px;
    margin: 0 auto;
}
section {
    margin: 20px;
    padding-top: 60px;
    margin-top: -60px;
}
#Contact {
	margin-bottom: 0px;
}
.justify {
    text-align: justify;
}
.page-header {
    font-size: 4em;
    color: #d9230f;
    border-bottom: 0px;
}
.phone {
    font-weight: bold;
}
.job {
    font-weight: bold;
}
.navbar-nav>li>a{
    font-size: 1.5em;
}

/* ================= MEDIA QUERIES ======================*/
/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 800px) {
    #Content {
        width: 80%;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #Content {
        width: 90%;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    #Content {
        width: 100%;
    }
}

/* ================= FACES ======================*/
.person {
	display: inline-block;
	width:150px;
}
.person > *{
	margin: 0 auto;
	text-align: center;
}
.circular {
	display: block;
	width: 80px;
	height: 80px;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	   -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: navy;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.marieke {
	background-image: url(../Images/Marieke.jpg);
}
.nate {
	background-image: url(../Images/Nate.jpg);
}
.kyle {
	background-image: url(../Images/Kyle.jpg);
}
.highlightOnHover {
	opacity: 0.4;
	filter: alpha(opacity=40); /* msie */
}
.person:hover .highlightOnHover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* msie */
}
.person:hover .circular {
	-webkit-box-shadow: 0 0 12px #000412;
	   -moz-box-shadow: 0 0 12px #000412;
	        box-shadow: 0 0 12px #000412;
}
.person:hover * {
	font-weight: bold;
}


