body {
    background-image: url("../Images/mochaGrunge.png");
    padding-top: 60px;
}
#Content {
    width: 640px;
    margin: 0 auto;
    background-image: url("../Images/witewall_3.png");
}
section {
    margin: 20px;
    padding-top: 60px;
    margin-top: -60px;
}
.justify {
    text-align: justify;
}
.hero {
    font-size: 3em;
}
.phone {
    font-weight: bold;
}
.job {
    font-weight: bold;
}
/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 800px) {
    #Content {
        width: 80%;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #Content {
        width: 90%;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    #Content {
        width: 100%;
    }
}
.person {
	display: inline-block;
	width:150px;
}
.circular {
	display: block;
	width: 80px;
	height: 80px;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	   -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: navy;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.marieke {
	background-image: url(../Images/Marieke.jpg);
}
.nate {
	background-image: url(../Images/Nate.jpg);
}
.kyle {
	background-image: url(../Images/Kyle.jpg);
}
.highlightOnHover {
	opacity: 0.4;
	filter: alpha(opacity=40); /* msie */
}
.highlightOnHover:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* msie */
}


